<%= image_tag @game.image.url(:medium) %>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Studio:</strong>
  <%= @game.studio %>
</p>

<p>
  <strong>Esrb:</strong>
  <%= @game.esrb %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
